.App {
  text-align: center;
}

.App-main{
  background-color: rgb(50, 4, 83);
  padding: 20px;
  max-height: 90vh;
  max-width: 90vw;

}

.App-canvas{
  background-color: cornsilk;
  border: 5px;
  border-color: black;

}